#include "consts.inc"

RESOURCE RT_RCDATA ICONINFO
BEGIN
    150
END

ICON 2 .\graphics\2.ico
ICON 3 .\graphics\8BALL.ICO
ICON 4 .\graphics\ADD1.ICO
ICON 5 .\graphics\ANSWER1.ICO
ICON 6 .\graphics\ANTBLUE.ICO
ICON 7 .\graphics\ANTENNA.ICO
ICON 8 .\graphics\ARCHIVE.ICO
ICON 9 .\graphics\ATLAS93.ICO
ICON 10 .\graphics\AUCoins.ICO
ICON 11 .\graphics\BACK1!1.ICO
ICON 12 .\graphics\BACK1.ICO
ICON 13 .\graphics\BELLBOY.ICO
ICON 14 .\graphics\BIGMOUTH.ICO
ICON 15 .\graphics\BITMAPS.ICO
ICON 16 .\graphics\BLUEDEVL.ICO
ICON 17 .\graphics\BMP1.ICO
ICON 18 .\graphics\BOLT.ICO
ICON 19 .\graphics\BUGS.ICO
ICON 20 .\graphics\BULB.ICO
ICON 21 .\graphics\BULLSEYE.ICO
ICON 22 .\graphics\BUTTERF.ICO
ICON 23 .\graphics\CADUCEUS.ICO
ICON 24 .\graphics\CAMVID.ICO
ICON 25 .\graphics\CARCRASH.ICO
ICON 26 .\graphics\CARDFILE.ICO
ICON 27 .\graphics\CASHREG.ICO
ICON 28 .\graphics\CAUTION.ICO
ICON 29 .\graphics\CHIP.ICO
ICON 30 .\graphics\CHKMAIL1.ICO
ICON 31 .\graphics\CITYSKY.ICO
ICON 32 .\graphics\CLOCK1.ICO
ICON 33 .\graphics\CLOVER.ICO
ICON 34 .\graphics\CMDPK2.ICO
ICON 35 .\graphics\COFFEE.ICO
ICON 36 .\graphics\COINS.ICO
ICON 37 .\graphics\COMBO.ICO
ICON 38 .\graphics\COMBO1.ico
ICON 39 .\graphics\COMET.ICO
ICON 40 .\graphics\COMET1.ICO
ICON 41 .\graphics\COMM.ICO
ICON 42 .\graphics\COMPASS.ICO
ICON 43 .\graphics\CONTPNL.ICO
ICON 44 .\graphics\CONTROL1.ICO
ICON 45 .\graphics\COSMOS.ICO
ICON 46 .\graphics\COSMOS1.ICO
ICON 47 .\graphics\CUSEEME2.ICO
ICON 48 .\graphics\DICTIONA.ICO
ICON 49 .\graphics\DINO.ICO
ICON 50 .\graphics\DINO6.ICO
ICON 51 .\graphics\DLL.ICO
ICON 52 .\graphics\DOCS.ICO
ICON 53 .\graphics\DOORCLOS.ICO
ICON 54 .\graphics\DYNAMIT1.ICO
ICON 55 .\graphics\DYSFUNCT.ICO
ICON 56 .\graphics\EARTH.ICO
ICON 57 .\graphics\EDIT.ICO
ICON 58 .\graphics\EINSTEI1.ICO
ICON 59 .\graphics\FALCON.ICO
ICON 60 .\graphics\FLAME2.ICO
ICON 61 .\graphics\FEMEYES1.ICO
ICON 62 .\graphics\FILECAB.ICO
ICON 63 .\graphics\FILMREEL.ICO
ICON 64 .\graphics\FIND.ICO
ICON 65 .\graphics\FOROB.ICO
ICON 66 .\graphics\GALAXY.ICO
ICON 67 .\graphics\GALAXY1.ICO
ICON 68 .\graphics\GEARS!1.ICO
ICON 69 .\graphics\GEARS.ICO
ICON 70 .\graphics\GHOST1.ICO
ICON 71 .\graphics\GOLF.ICO
ICON 72 .\graphics\GPIB.ICO
ICON 73 .\graphics\GRADIENT.ICO
ICON 74 .\graphics\HEART1.ICO
ICON 75 .\graphics\HELP.ICO
ICON 76 .\graphics\ICS.ICO
ICON 77 .\graphics\INFO1.ICO
ICON 78 .\graphics\ISYS.ICO
ICON 79 .\graphics\JET.ICO
ICON 80 .\graphics\JUNK.ICO
ICON 81 .\graphics\KEEPOUT.ICO
ICON 82 .\graphics\KEY.ICO
ICON 83 .\graphics\1.ico
ICON 84 .\graphics\KIDXING.ICO
ICON 85 .\graphics\LANDMINE.ICO
ICON 86 .\graphics\LINK2.ICO
ICON 87 .\graphics\M1.ICO
ICON 88 .\graphics\MAILBOX1.ICO
ICON 89 .\graphics\MAUREEN.ICO
ICON 90 .\graphics\ME2.ICO
ICON 91 .\graphics\MEDIC.ICO
ICON 92 .\graphics\MODEM_1.ICO
ICON 93 .\graphics\MONALISA.ICO
ICON 94 .\graphics\MONEY4.ICO
ICON 95 .\graphics\MWAVTWR.ICO
ICON 96 .\graphics\NETW1.ICO
ICON 97 .\graphics\NETWARE.ICO
ICON 98 .\graphics\new.ICO
ICON 99 .\graphics\NOPARK.ICO
ICON 100 .\graphics\NOTES.ICO
ICON 101 .\graphics\NOVA.ICO
ICON 102 .\graphics\OPENDOC.ICO
ICON 103 .\graphics\OSCOPE.ICO
ICON 104 .\graphics\PACKAGE.ICO
ICON 105 .\graphics\PENCIL3.ICO
ICON 106 .\graphics\PIECHART.ICO
ICON 107 .\graphics\PLANT.ICO
ICON 108 .\graphics\PLOT1.ICO
ICON 109 .\graphics\PMMAIL1.ICO
ICON 110 .\graphics\POLAR.ICO
ICON 111 .\graphics\POSTBOX.ICO
ICON 112 .\graphics\POV1.ICO
ICON 113 .\graphics\PRINTER.ICO
ICON 114 .\graphics\RADIOACT.ICO
ICON 115 .\graphics\READ2.ICO
ICON 116 .\graphics\RECYCLE1.ICO
ICON 117 .\graphics\ROKTLAUN.ICO
ICON 118 .\graphics\SCALE.ICO
ICON 119 .\graphics\SCROLL.ICO
ICON 120 .\graphics\SKULL.ICO
ICON 121 .\graphics\SLUGGER.ICO
ICON 122 .\graphics\SMTHCHRT.ICO
ICON 123 .\graphics\SNAIL.ICO
ICON 124 .\graphics\SOUNDS!1.ICO
ICON 125 .\graphics\SPOCK.ICO
ICON 126 .\graphics\spy.ICO
ICON 127 .\graphics\STATLIB.ICO
ICON 128 .\graphics\STRING.ICO
ICON 129 .\graphics\tools.ICO
ICON 130 .\graphics\TOOLS4.ICO
ICON 131 .\graphics\TOUCH.ICO
ICON 132 .\graphics\TRASH!1.ICO
ICON 133 .\graphics\USFLAG.ICO
ICON 134 .\graphics\VISAFOLD.ICO
ICON 135 .\graphics\wheel.ico
ICON 136 .\graphics\WINWASH.ICO
ICON 137 .\graphics\WIZARD1.ICO
ICON 138 .\graphics\WORLD1.ICO
ICON 139 .\graphics\ZIP.ICO
ICON 140 .\graphics\amexblue.ico
ICON 141 .\graphics\amexpers.ico
ICON 142 .\graphics\amexplat.ico
ICON 143 .\graphics\amexau.ico
ICON 144 .\graphics\chevron.ico
ICON 145 .\graphics\chute.ico
ICON 146 .\graphics\citgo.ico
ICON 147 .\graphics\discover.ico
ICON 148 .\graphics\esso.ico
ICON 149 .\graphics\exxon.ico
ICON 150 .\graphics\mastercard.ico
ICON 151 .\graphics\shell.ico
ICON 152 .\graphics\visa.ico

/* graphics around the program */
BITMAP 940 .\graphics\ab11.bmp
BITMAP 941 .\graphics\ab17.bmp
BITMAP 942 .\graphics\BKG1.bmp
BITMAP 943 .\graphics\gradblue.BMP
BITMAP 944 .\graphics\BKG7.BMP
BITMAP 945 .\graphics\spyg.bmp
BITMAP 946 .\graphics\erkeybk.bmp
BITMAP 947 .\graphics\FILEOPEN.bmp
BITMAP 948 .\graphics\FILESAVE.bmp
BITMAP 949 .\graphics\HELP.bmp
BITMAP 950 .\graphics\ME1.BMP
BITMAP 951 .\graphics\ME2.BMP
BITMAP 952 .\graphics\mmfcmbo.bmp
BITMAP 953 .\graphics\new.bmp
BITMAP 954 .\graphics\newg.BMP
BITMAP 955 .\graphics\newg1.BMP
BITMAP 956 .\graphics\OHNO.BMP
BITMAP 957 .\graphics\spyb.bmp
BITMAP 958 .\graphics\spyw.bmp
BITMAP 959 .\graphics\TECHNLGY.BMP
BITMAP 960 .\graphics\tissue.bmp
BITMAP 961 .\graphics\tools.bmp
BITMAP 962 .\graphics\wheelbut.bmp
BITMAP 963 .\graphics\fembut.bmp
BITMAP 964 .\graphics\DOORSHUT.bmp
BITMAP 965 .\graphics\clock1.bmp
BITMAP 966 .\graphics\up.bmp
BITMAP 967 .\graphics\down.bmp
BITMAP 968 .\graphics\wheelgra.bmp
BITMAP 969 .\graphics\clipboard.bmp
BITMAP 970 .\graphics\crink-l.bmp
BITMAP 971 .\graphics\clipboard.bmp

